<div class="card dt-4">
    <h4>Login</h4>
    <div class="card-body">
        <form action="/users/login" method="POST">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" required>
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha" required>
            <br>
            <button type="submit" class="btn btn-success">Entrar</button>
        </form>
    </div>
</div>